@using PagedList
@using PagedList.Mvc

@model List<Warehouse.Models.Supply>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Supply</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="">Home</li>
                    <li class="active">Supply</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-9"><strong class="card-title">Data Table</strong></div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-success" data-toggle="modal" data-target="#Insert" onclick="Add_Initial()">Add</button>
                        </div>


                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td id="Display_Name_@Html.DisplayFor(modelItem => item.id)">
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            <input type="button" value="Edit" data-toggle="modal" data-target="#Insert"
                                                   onclick="Edit_GetId(@Html.DisplayFor(modelItem => item.id))" class="btn btn-primary">
                                            <a href="/Supply/Delete?idSup=@Html.DisplayFor(modelItem => item.id)" name="delete" class="btn btn-danger">Delete</a>


                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<div id="dialog">
    <div class="modal fade bs-example-modal-lg" id="Insert" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-8" style="padding-left: 0px;">
                        <h4 class="modal-title" id="myModalLabel"
                            style="font-size: 18px; margin: 0px">
                            Modal title
                        </h4>
                    </div>
                    <div class="col-sm-2" style="padding-right: 0px;">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                </div>
                <form action="/Supply/Add"
                      method="post" class="form-horizontal"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="card">


                            <div class="card-body card-block">

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="Basic_Name" class="form-control-label">Name</label>
                                        <span style="color: red; font-size: 17px; padding-bottom: 10px;">*</span>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="Insert_Name" name="name"
                                               placeholder="Name" value="" class="form-control"><small class="form-text text-muted"></small> <small class="help-block form-text" style="color: red;"
                                                                                                                                                    id="Basic_s-Name"></small>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="idSup" id="frmInsert_Id" value="">
                        <button type="submit" class="btn btn-primary">
                            Save
                            changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function Edit_GetId(id) {
        jQuery('#frmInsert_Id').val(id); // input hidden for idEmployee

        jQuery('#Insert_Name').val(jQuery('#Display_Name_' + id).html().trim());
    }
    function Add_Initial() {
        jQuery('#frmInsert_Id').val(''); // input hidden for idEmployee

        jQuery('#Insert_Name').val('');
    }
</script>
